/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
  Hide visually and from screen readers
========================================================================== */
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */ }

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media only screen and (max-width: 414px) {
  .mdl-layout__header {
    max-height: 56px; }

  .theme-primary .mdl-layout__title, .theme-secondary .mdl-layout__title, .theme-tertiary .mdl-layout__title {
    background: none !important; }

  .theme-primary h2, .theme-secondary h2, .theme-tertiary h2 {
    font-size: 26px;
    font-weight: 100;
    margin-top: 10px; }

  .card-teal .mdl-card__title-text, .card-pink .mdl-card__title-text, .card-purple .mdl-card__title-text, .card-buttercream .mdl-card__title-text, .card-black .mdl-card__title-text, .card-blue .mdl-card__title-text {
    font-size: 20px !important; }

  .mdl-card__actions.mdl-card--border {
    text-align: center; }

  .mdl-mini-footer .mdl-mini-footer__left-section .mdl-mini-footer__link-list {
    font-size: 13px !important; } }
@media only screen and (max-width: 1024px) {
  .mdl-card__title-text {
    font-size: 20px; } }
/* @import 'partials/grid.scss'; */
/* Color Palette
------------------------------ */
.text-on-primary {
  color: #FF77A9; }

.primary-group {
  background-color: #000000 !important;
  color: #FF77A9 !important; }

.text-on-secondary {
  color: #000000; }

.secondary-group {
  background-color: #bfbfbf !important;
  color: #000000 !important; }

.text-on-surface {
  color: #000000; }

.surface-group {
  background-color: #FFFFFF;
  color: #000000; }

/* =Header
------------------------------ */
.mdl-layout__header {
  box-shadow: none; }

.mdl-button--theme:hover {
  background-color: #0a0a0a; }

/* Theme-Styles
------------------------------ */
.theme-primary {
  /* Card Theme Styles
  ------------------------------ */ }
  .theme-primary main {
    background: #e0e0e0; }
  .theme-primary h2 {
    font-weight: 100; }
  .theme-primary .mdl-grid {
    background-color: none; }
  .theme-primary .mdl-layout__header {
    background-color: #000000;
    color: #FF77A9; }
  .theme-primary .mdl-layout__drawer-button {
    color: #FF77A9; }
  .theme-primary .mdl-layout__drawer {
    background-color: #ffa0c3;
    color: #333333;
    border-right: 5px solid #000000;
    font-weight: 100; }
    .theme-primary .mdl-layout__drawer .mdl-layout-title {
      margin: 30px auto;
      background: url("../img/logo-secondary.svg") no-repeat;
      width: 50%;
      height: 100px; }
  .theme-primary .mdl-layout__title {
    margin-top: 30px;
    background: url("../img/logo-primary.svg") no-repeat;
    color: #FF77A9;
    width: 50%;
    height: 100px; }
  .theme-primary .mdl-layout__title .lastname {
    color: #FFFFFF; }
  .theme-primary .mdl-layout__subtitle {
    text-align: right; }
  .theme-primary .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #000000;
    font-size: 1rem; }
  .theme-primary .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #000000;
    color: #FFFFFF; }
  .theme-primary .mdl-mini-footer {
    background-color: #000000; }
  .theme-primary .mini-footer__left-section {
    background-color: #FF77A9; }
  .theme-primary .mdl-logo {
    background: url("../img/footer-white.svg") no-repeat center;
    margin-top: 5px;
    width: 50%;
    height: 25px; }
  .theme-primary .mdl-mini-footer__link-list li {
    color: #FF77A9; }
  .theme-primary .card-teal {
    background-color: #00cae3; }
    .theme-primary .card-teal .mdl-card {
      background: #00cae3 !important; }
    .theme-primary .card-teal .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-primary .card-teal .mdl-button {
      color: #000000;
      background-color: #1ce5ff;
      font-weight: 500; }
    .theme-primary .card-teal .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-primary .card-teal .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-primary .card-teal .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-primary .card-teal .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-primary .card-teal .mdl-button:hover {
      background-color: #006f7d;
      color: #000000; }
  .theme-primary .card-pink {
    background-color: #FF77A9; }
    .theme-primary .card-pink .mdl-card {
      background: #FF77A9 !important; }
    .theme-primary .card-pink .mdl-card__menu .material-icons {
      color: #00cae3;
      font-size: 25px; }
    .theme-primary .card-pink .mdl-button {
      color: #000000;
      background-color: #ffa0c3;
      font-weight: 500; }
    .theme-primary .card-pink .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-primary .card-pink .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-primary .card-pink .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-primary .card-pink .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-primary .card-pink .mdl-button:hover {
      background-color: #ffddea;
      color: inherit; }
  .theme-primary .card-purple {
    background-color: #5627ff; }
    .theme-primary .card-purple .mdl-card {
      background: #5627ff !important; }
    .theme-primary .card-purple .mdl-card__menu .material-icons {
      color: #FFFFFF;
      font-size: 25px; }
    .theme-primary .card-purple .mdl-button {
      color: #FFFFFF;
      background-color: #7650ff;
      font-weight: 500; }
    .theme-primary .card-purple .mdl-card__title-text {
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-primary .card-purple .mdl-card__subtitle p {
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 900; }
    .theme-primary .card-purple .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #FFFFFF; }
    .theme-primary .card-purple .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-primary .card-purple .mdl-button:hover {
      background-color: #a68dff;
      color: inherit; }
  .theme-primary .card-buttercream {
    background-color: #FFEDBA; }
    .theme-primary .card-buttercream .mdl-card {
      background: #FFEDBA !important; }
    .theme-primary .card-buttercream .mdl-card__menu .material-icons {
      color: #000000;
      font-size: 25px; }
    .theme-primary .card-buttercream .mdl-button {
      color: #000000;
      background-color: #ffa0c3;
      font-weight: 500; }
    .theme-primary .card-buttercream .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-primary .card-buttercream .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-primary .card-buttercream .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-primary .card-buttercream .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-primary .card-buttercream .mdl-button:hover {
      background-color: #fff8e3;
      color: inherit; }
  .theme-primary .card-black {
    background-color: #212121; }
    .theme-primary .card-black .mdl-card {
      background: #000000 !important; }
    .theme-primary .card-black .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-primary .card-black .mdl-button {
      color: #FFFFFF;
      background-color: #000000;
      font-weight: 500; }
    .theme-primary .card-black .mdl-card__title-text {
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-primary .card-black .mdl-card__subtitle p {
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 900; }
    .theme-primary .card-black .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #FFFFFF; }
    .theme-primary .card-black .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-primary .card-black .mdl-button:hover {
      background-color: #2b2b2b;
      color: #FF77A9; }
  .theme-primary .card-blue {
    background-color: #38a9ff; }
    .theme-primary .card-blue .mdl-card {
      background: #0091FF !important; }
    .theme-primary .card-blue .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-primary .card-blue .mdl-button {
      color: #000000;
      background-color: #80c8ff;
      font-weight: 500; }
    .theme-primary .card-blue .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-primary .card-blue .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-primary .card-blue .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-primary .card-blue .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-primary .card-blue .mdl-button:hover {
      background-color: #cce9ff;
      color: #000000; }

.theme-secondary {
  /* Card Theme Styles
  ------------------------------ */ }
  .theme-secondary h2 {
    font-weight: 100;
    margin-top: 10px; }
  .theme-secondary .mdl-layout__header {
    background-color: #FF77A9;
    color: #000000; }
  .theme-secondary .mdl-layout__drawer-button {
    color: #000000; }
  .theme-secondary .mdl-layout__drawer {
    background-color: #000000;
    color: #FF77A9;
    border-right: 5px solid #FF77A9; }
    .theme-secondary .mdl-layout__drawer .mdl-layout-title {
      margin: 30px auto;
      background: url("../img/logo-primary.svg") no-repeat;
      width: 100%;
      height: 50px; }
  .theme-secondary .mdl-layout__title {
    background: url("../img/logo-secondary.svg") no-repeat;
    color: #000000;
    height: 80px; }
  .theme-secondary .mdl-layout__subtitle {
    text-align: right; }
  .theme-secondary .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #FF77A9;
    font-size: 1rem; }
  .theme-secondary .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #FF77A9;
    color: #000000; }
  .theme-secondary .mdl-mini-footer {
    background-color: #000000; }
  .theme-secondary .mini-footer__left-section {
    background-color: #FF77A9; }
  .theme-secondary .mdl-mini-footer {
    display: inline;
    padding: 0;
    color: #a6a6a6; }
    .theme-secondary .mdl-mini-footer .mdl-grid {
      padding: 0; }
  .theme-secondary .mdl-logo {
    background: url("../img/footer-1.svg") no-repeat center;
    margin: 0;
    height: 25px;
    line-height: 25px;
    color: #FF77A9; }
  .theme-secondary .mdl-mini-footer__link-list li {
    color: #FF77A9; }
  .theme-secondary .card-teal {
    background-color: #00cae3; }
    .theme-secondary .card-teal .mdl-card {
      background: #00cae3 !important; }
    .theme-secondary .card-teal .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-secondary .card-teal .mdl-button {
      color: #000000;
      background-color: #1ce5ff;
      font-weight: 500; }
    .theme-secondary .card-teal .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-secondary .card-teal .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-secondary .card-teal .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-secondary .card-teal .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-secondary .card-teal .mdl-button:hover {
      background-color: #006f7d;
      color: #000000; }
  .theme-secondary .card-pink {
    background-color: #FF77A9; }
    .theme-secondary .card-pink .mdl-card {
      background: #FF77A9 !important; }
    .theme-secondary .card-pink .mdl-card__menu .material-icons {
      color: #00cae3;
      font-size: 25px; }
    .theme-secondary .card-pink .mdl-button {
      color: #000000;
      background-color: #ffa0c3;
      font-weight: 500; }
    .theme-secondary .card-pink .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-secondary .card-pink .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-secondary .card-pink .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-secondary .card-pink .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-secondary .card-pink .mdl-button:hover {
      background-color: #ffddea;
      color: inherit; }
  .theme-secondary .card-purple {
    background-color: #5627ff; }
    .theme-secondary .card-purple .mdl-card {
      background: #5627ff !important; }
    .theme-secondary .card-purple .mdl-card__menu .material-icons {
      color: #FFFFFF;
      font-size: 25px; }
    .theme-secondary .card-purple .mdl-button {
      color: #FFFFFF;
      background-color: #7650ff;
      font-weight: 500; }
    .theme-secondary .card-purple .mdl-card__title-text {
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-secondary .card-purple .mdl-card__subtitle p {
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 900; }
    .theme-secondary .card-purple .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #FFFFFF; }
    .theme-secondary .card-purple .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-secondary .card-purple .mdl-button:hover {
      background-color: #a68dff;
      color: inherit; }
  .theme-secondary .card-buttercream {
    background-color: #FFEDBA; }
    .theme-secondary .card-buttercream .mdl-card {
      background: #FFEDBA !important; }
    .theme-secondary .card-buttercream .mdl-card__menu .material-icons {
      color: #000000;
      font-size: 25px; }
    .theme-secondary .card-buttercream .mdl-button {
      color: #000000;
      background-color: #ffa0c3;
      font-weight: 500; }
    .theme-secondary .card-buttercream .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-secondary .card-buttercream .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-secondary .card-buttercream .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-secondary .card-buttercream .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-secondary .card-buttercream .mdl-button:hover {
      background-color: #fff8e3;
      color: inherit; }
  .theme-secondary .card-black {
    background-color: #212121; }
    .theme-secondary .card-black .mdl-card {
      background: #000000 !important; }
    .theme-secondary .card-black .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-secondary .card-black .mdl-button {
      color: #FFFFFF;
      background-color: #000000;
      font-weight: 500; }
    .theme-secondary .card-black .mdl-card__title-text {
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-secondary .card-black .mdl-card__subtitle p {
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 900; }
    .theme-secondary .card-black .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #FFFFFF; }
    .theme-secondary .card-black .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-secondary .card-black .mdl-button:hover {
      background-color: #2b2b2b;
      color: #FF77A9; }
  .theme-secondary .card-blue {
    background-color: #38a9ff; }
    .theme-secondary .card-blue .mdl-card {
      background: #0091FF !important; }
    .theme-secondary .card-blue .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-secondary .card-blue .mdl-button {
      color: #000000;
      background-color: #80c8ff;
      font-weight: 500; }
    .theme-secondary .card-blue .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-secondary .card-blue .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-secondary .card-blue .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-secondary .card-blue .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-secondary .card-blue .mdl-button:hover {
      background-color: #cce9ff;
      color: #000000; }

.theme-tertiary {
  /* Card Theme Styles
  ------------------------------ */ }
  .theme-tertiary h2 {
    font-weight: 100; }
  .theme-tertiary .mdl-layout__header {
    background-color: #3F51B5;
    color: #FFFFFF; }
  .theme-tertiary .mdl-layout__drawer-button {
    color: #FFFFFF; }
  .theme-tertiary .mdl-layout__drawer {
    background-color: #FFEDBA;
    color: #3F51B5;
    border-right: 5px solid #3F51B5; }
    .theme-tertiary .mdl-layout__drawer .mdl-layout-title {
      margin: 30px auto;
      background: url("../img/logo-quad.svg") no-repeat;
      width: 50%;
      height: 100px; }
  .theme-tertiary .mdl-layout__title {
    margin-top: 30px;
    background: url("../img/logo-tertiary.svg") no-repeat;
    color: #FFFFFF;
    width: 50%;
    height: 100px; }
  .theme-tertiary .mdl-layout__subtitle {
    text-align: right;
    color: #FFEDBA; }
  .theme-tertiary .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #3F51B5;
    font-size: 1rem; }
  .theme-tertiary .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #3F51B5;
    color: #FF77A9; }
  .theme-tertiary .card-teal {
    background-color: #00cae3; }
    .theme-tertiary .card-teal .mdl-card {
      background: #00cae3 !important; }
    .theme-tertiary .card-teal .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-tertiary .card-teal .mdl-button {
      color: #000000;
      background-color: #1ce5ff;
      font-weight: 500; }
    .theme-tertiary .card-teal .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-tertiary .card-teal .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-tertiary .card-teal .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-tertiary .card-teal .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-tertiary .card-teal .mdl-button:hover {
      background-color: #006f7d;
      color: #000000; }
  .theme-tertiary .card-pink {
    background-color: #FF77A9; }
    .theme-tertiary .card-pink .mdl-card {
      background: #FF77A9 !important; }
    .theme-tertiary .card-pink .mdl-card__menu .material-icons {
      color: #00cae3;
      font-size: 25px; }
    .theme-tertiary .card-pink .mdl-button {
      color: #000000;
      background-color: #ffa0c3;
      font-weight: 500; }
    .theme-tertiary .card-pink .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-tertiary .card-pink .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-tertiary .card-pink .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-tertiary .card-pink .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-tertiary .card-pink .mdl-button:hover {
      background-color: #ffddea;
      color: inherit; }
  .theme-tertiary .card-purple {
    background-color: #5627ff; }
    .theme-tertiary .card-purple .mdl-card {
      background: #5627ff !important; }
    .theme-tertiary .card-purple .mdl-card__menu .material-icons {
      color: #FFFFFF;
      font-size: 25px; }
    .theme-tertiary .card-purple .mdl-button {
      color: #FFFFFF;
      background-color: #7650ff;
      font-weight: 500; }
    .theme-tertiary .card-purple .mdl-card__title-text {
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-tertiary .card-purple .mdl-card__subtitle p {
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 900; }
    .theme-tertiary .card-purple .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #FFFFFF; }
    .theme-tertiary .card-purple .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-tertiary .card-purple .mdl-button:hover {
      background-color: #a68dff;
      color: inherit; }
  .theme-tertiary .card-buttercream {
    background-color: #FFEDBA; }
    .theme-tertiary .card-buttercream .mdl-card {
      background: #FFEDBA !important; }
    .theme-tertiary .card-buttercream .mdl-card__menu .material-icons {
      color: #000000;
      font-size: 25px; }
    .theme-tertiary .card-buttercream .mdl-button {
      color: #000000;
      background-color: #ffa0c3;
      font-weight: 500; }
    .theme-tertiary .card-buttercream .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-tertiary .card-buttercream .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-tertiary .card-buttercream .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-tertiary .card-buttercream .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-tertiary .card-buttercream .mdl-button:hover {
      background-color: #fff8e3;
      color: inherit; }
  .theme-tertiary .card-black {
    background-color: #212121; }
    .theme-tertiary .card-black .mdl-card {
      background: #000000 !important; }
    .theme-tertiary .card-black .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-tertiary .card-black .mdl-button {
      color: #FFFFFF;
      background-color: #000000;
      font-weight: 500; }
    .theme-tertiary .card-black .mdl-card__title-text {
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-tertiary .card-black .mdl-card__subtitle p {
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 900; }
    .theme-tertiary .card-black .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #FFFFFF; }
    .theme-tertiary .card-black .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-tertiary .card-black .mdl-button:hover {
      background-color: #2b2b2b;
      color: #FF77A9; }
  .theme-tertiary .card-blue {
    background-color: #38a9ff; }
    .theme-tertiary .card-blue .mdl-card {
      background: #0091FF !important; }
    .theme-tertiary .card-blue .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-tertiary .card-blue .mdl-button {
      color: #000000;
      background-color: #80c8ff;
      font-weight: 500; }
    .theme-tertiary .card-blue .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-tertiary .card-blue .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-tertiary .card-blue .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-tertiary .card-blue .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-tertiary .card-blue .mdl-button:hover {
      background-color: #cce9ff;
      color: #000000; }

/* =Header
------------------------------ */
.mdl-layout__header {
  padding-top: 15px;
  min-height: 85px; }

/* =Cards
------------------------------ */
.hm-card .mdl-card {
  width: 100%;
  height: 420px; }
.hm-card .mdl-card__title {
  align-self: center;
  margin-top: 3px; }
.hm-card .mdl-card__subtitle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-self: center;
  display: block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  line-height: normal;
  -webkit-perspective-origin: 165px 56px;
  perspective-origin: 165px 56px;
  -webkit-transform-origin: 165px 56px;
  transform-origin: 165px 56px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
  padding: 0 0 10px 0; }
.hm-card p {
  margin-bottom: 0; }
.hm-card .mdl-card__supporting-text {
  font-size: 14px;
  font-weight: 300;
  color: inherit;
  padding: 20px !important; }
.hm-card .mdl-card__image {
  width: 100%;
  height: 200px; }
.hm-card .mdl-card__menu {
  position: absolute;
  left: 16px;
  top: 16px; }
.hm-card .mdl-button {
  color: inherit; }
.hm-card .mdl-button:hover {
  background-color: inherit;
  color: inherit; }
.hm-card .mdl-button--icon {
  width: 50px;
  height: 50px; }

/* =Footer
---------------------------- */
.mdl-mini-footer {
  padding: 5px;
  font-size: 12px; }

.center {
  margin: 0 auto !important; }

.center-text {
  text-align: center !important; }

.left-text {
  text-align: left !important; }

.right-text {
  text-align: right !important; }

.img-responsive {
  width: 100%;
  height: auto; }

/* =Margin
---------------------------- */
.mx-1 {
  margin: 0 10px; }
.mx-2 {
  margin: 0 20px; }
.mx-3 {
  margin: 0 30px; }
.mx-4 {
  margin: 0 40px; }
.mx-5 {
  margin: 0 50px; }

.ml-1 {
  margin-left: 10px; }
.ml-2 {
  margin-left: 20px; }
.ml-3 {
  margin-left: 30px; }
.ml-4 {
  margin-left: 40px; }
.ml-5 {
  margin-left: 50px; }

.mr-1 {
  margin-right: 10px; }
.mr-2 {
  margin-right: 20px; }
.mr-3 {
  margin-right: 30px; }
.mr-4 {
  margin-right: 40px; }
.mr-5 {
  margin-right: 50px; }

.my-1 {
  margin: 10px 0; }
.my-2 {
  margin: 20px 0; }
.my-3 {
  margin: 30px 0; }
.my-4 {
  margin: 40px 0; }
.my-5 {
  margin: 50px 0; }

.mt-1 {
  margin-top: 10px; }
.mt-2 {
  margin-top: 20px; }
.mt-3 {
  margin-top: 30px; }
.mt-4 {
  margin-top: 40px; }
.mt-5 {
  margin-top: 50px; }

.mb-1 {
  margin-bottom: 10px; }
.mb-2 {
  margin-bottom: 20px; }
.mb-3 {
  margin-bottom: 30px; }
.mb-4 {
  margin-bottom: 40px; }
.mb-5 {
  margin-bottom: 50px; }

/* =Padding
---------------------------- */
.px-1 {
  padding: 0 10px; }
.px-2 {
  padding: 0 20px; }
.px-3 {
  padding: 0 30px; }
.px-4 {
  padding: 0 40px; }
.px-5 {
  padding: 0 50px; }

.pl-1 {
  padding-left: 10px; }
.pl-2 {
  padding-left: 20px; }
.pl-3 {
  padding-left: 30px; }
.pl-4 {
  padding-left: 40px; }
.pl-5 {
  padding-left: 50px; }

.pr-1 {
  padding-right: 10px; }
.pr-2 {
  padding-right: 20px; }
.pr-3 {
  padding-right: 30px; }
.pr-4 {
  padding-right: 40px; }
.pr-5 {
  padding-right: 50px; }

.py-1 {
  padding: 10px 0; }
.py-2 {
  padding: 20px 0; }
.py-3 {
  padding: 30px 0; }
.py-4 {
  padding: 40px 0; }
.py-5 {
  padding: 50px 0; }

.pt-1 {
  padding-top: 10px; }
.pt-2 {
  padding-top: 20px; }
.pt-3 {
  padding-top: 30px; }
.pt-4 {
  padding-top: 40px; }
.pt-5 {
  padding-top: 50px; }

.pb-1 {
  padding-bottom: 10px; }
.pb-2 {
  padding-bottom: 20px; }
.pb-3 {
  padding-bottom: 30px; }
.pb-4 {
  padding-bottom: 40px; }
.pb-5 {
  padding-bottom: 50px; }

/* =VH
---------------------------- */
.vh-5 {
  height: 5vh; }
.vh-10 {
  height: 10vh; }
.vh-15 {
  height: 15vh; }
.vh-20 {
  height: 20vh; }

/* Color Palette
------------------------------ */
.text-on-primary {
  color: #FF77A9; }

.primary-group {
  background-color: #000000 !important;
  color: #FF77A9 !important; }

.text-on-secondary {
  color: #000000; }

.secondary-group {
  background-color: #bfbfbf !important;
  color: #000000 !important; }

.text-on-surface {
  color: #000000; }

.surface-group {
  background-color: #FFFFFF;
  color: #000000; }

/* =Header
------------------------------ */
.mdl-layout__header {
  box-shadow: none; }

.mdl-button--theme:hover {
  background-color: #0a0a0a; }

/* Theme-Styles
------------------------------ */
.theme-primary {
  /* Card Theme Styles
  ------------------------------ */ }
  .theme-primary main {
    background: #e0e0e0; }
  .theme-primary h2 {
    font-weight: 100; }
  .theme-primary .mdl-grid {
    background-color: none; }
  .theme-primary .mdl-layout__header {
    background-color: #000000;
    color: #FF77A9; }
  .theme-primary .mdl-layout__drawer-button {
    color: #FF77A9; }
  .theme-primary .mdl-layout__drawer {
    background-color: #ffa0c3;
    color: #333333;
    border-right: 5px solid #000000;
    font-weight: 100; }
    .theme-primary .mdl-layout__drawer .mdl-layout-title {
      margin: 30px auto;
      background: url("../img/logo-secondary.svg") no-repeat;
      width: 50%;
      height: 100px; }
  .theme-primary .mdl-layout__title {
    margin-top: 30px;
    background: url("../img/logo-primary.svg") no-repeat;
    color: #FF77A9;
    width: 50%;
    height: 100px; }
  .theme-primary .mdl-layout__title .lastname {
    color: #FFFFFF; }
  .theme-primary .mdl-layout__subtitle {
    text-align: right; }
  .theme-primary .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #000000;
    font-size: 1rem; }
  .theme-primary .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #000000;
    color: #FFFFFF; }
  .theme-primary .mdl-mini-footer {
    background-color: #000000; }
  .theme-primary .mini-footer__left-section {
    background-color: #FF77A9; }
  .theme-primary .mdl-logo {
    background: url("../img/footer-white.svg") no-repeat center;
    margin-top: 5px;
    width: 50%;
    height: 25px; }
  .theme-primary .mdl-mini-footer__link-list li {
    color: #FF77A9; }
  .theme-primary .card-teal {
    background-color: #00cae3; }
    .theme-primary .card-teal .mdl-card {
      background: #00cae3 !important; }
    .theme-primary .card-teal .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-primary .card-teal .mdl-button {
      color: #000000;
      background-color: #1ce5ff;
      font-weight: 500; }
    .theme-primary .card-teal .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-primary .card-teal .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-primary .card-teal .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-primary .card-teal .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-primary .card-teal .mdl-button:hover {
      background-color: #006f7d;
      color: #000000; }
  .theme-primary .card-pink {
    background-color: #FF77A9; }
    .theme-primary .card-pink .mdl-card {
      background: #FF77A9 !important; }
    .theme-primary .card-pink .mdl-card__menu .material-icons {
      color: #00cae3;
      font-size: 25px; }
    .theme-primary .card-pink .mdl-button {
      color: #000000;
      background-color: #ffa0c3;
      font-weight: 500; }
    .theme-primary .card-pink .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-primary .card-pink .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-primary .card-pink .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-primary .card-pink .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-primary .card-pink .mdl-button:hover {
      background-color: #ffddea;
      color: inherit; }
  .theme-primary .card-purple {
    background-color: #5627ff; }
    .theme-primary .card-purple .mdl-card {
      background: #5627ff !important; }
    .theme-primary .card-purple .mdl-card__menu .material-icons {
      color: #FFFFFF;
      font-size: 25px; }
    .theme-primary .card-purple .mdl-button {
      color: #FFFFFF;
      background-color: #7650ff;
      font-weight: 500; }
    .theme-primary .card-purple .mdl-card__title-text {
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-primary .card-purple .mdl-card__subtitle p {
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 900; }
    .theme-primary .card-purple .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #FFFFFF; }
    .theme-primary .card-purple .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-primary .card-purple .mdl-button:hover {
      background-color: #a68dff;
      color: inherit; }
  .theme-primary .card-buttercream {
    background-color: #FFEDBA; }
    .theme-primary .card-buttercream .mdl-card {
      background: #FFEDBA !important; }
    .theme-primary .card-buttercream .mdl-card__menu .material-icons {
      color: #000000;
      font-size: 25px; }
    .theme-primary .card-buttercream .mdl-button {
      color: #000000;
      background-color: #ffa0c3;
      font-weight: 500; }
    .theme-primary .card-buttercream .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-primary .card-buttercream .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-primary .card-buttercream .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-primary .card-buttercream .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-primary .card-buttercream .mdl-button:hover {
      background-color: #fff8e3;
      color: inherit; }
  .theme-primary .card-black {
    background-color: #212121; }
    .theme-primary .card-black .mdl-card {
      background: #000000 !important; }
    .theme-primary .card-black .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-primary .card-black .mdl-button {
      color: #FFFFFF;
      background-color: #000000;
      font-weight: 500; }
    .theme-primary .card-black .mdl-card__title-text {
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-primary .card-black .mdl-card__subtitle p {
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 900; }
    .theme-primary .card-black .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #FFFFFF; }
    .theme-primary .card-black .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-primary .card-black .mdl-button:hover {
      background-color: #2b2b2b;
      color: #FF77A9; }
  .theme-primary .card-blue {
    background-color: #38a9ff; }
    .theme-primary .card-blue .mdl-card {
      background: #0091FF !important; }
    .theme-primary .card-blue .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-primary .card-blue .mdl-button {
      color: #000000;
      background-color: #80c8ff;
      font-weight: 500; }
    .theme-primary .card-blue .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-primary .card-blue .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-primary .card-blue .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-primary .card-blue .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-primary .card-blue .mdl-button:hover {
      background-color: #cce9ff;
      color: #000000; }

.theme-secondary {
  /* Card Theme Styles
  ------------------------------ */ }
  .theme-secondary h2 {
    font-weight: 100;
    margin-top: 10px; }
  .theme-secondary .mdl-layout__header {
    background-color: #FF77A9;
    color: #000000; }
  .theme-secondary .mdl-layout__drawer-button {
    color: #000000; }
  .theme-secondary .mdl-layout__drawer {
    background-color: #000000;
    color: #FF77A9;
    border-right: 5px solid #FF77A9; }
    .theme-secondary .mdl-layout__drawer .mdl-layout-title {
      margin: 30px auto;
      background: url("../img/logo-primary.svg") no-repeat;
      width: 100%;
      height: 50px; }
  .theme-secondary .mdl-layout__title {
    background: url("../img/logo-secondary.svg") no-repeat;
    color: #000000;
    height: 80px; }
  .theme-secondary .mdl-layout__subtitle {
    text-align: right; }
  .theme-secondary .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #FF77A9;
    font-size: 1rem; }
  .theme-secondary .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #FF77A9;
    color: #000000; }
  .theme-secondary .mdl-mini-footer {
    background-color: #000000; }
  .theme-secondary .mini-footer__left-section {
    background-color: #FF77A9; }
  .theme-secondary .mdl-mini-footer {
    display: inline;
    padding: 0;
    color: #a6a6a6; }
    .theme-secondary .mdl-mini-footer .mdl-grid {
      padding: 0; }
  .theme-secondary .mdl-logo {
    background: url("../img/footer-1.svg") no-repeat center;
    margin: 0;
    height: 25px;
    line-height: 25px;
    color: #FF77A9; }
  .theme-secondary .mdl-mini-footer__link-list li {
    color: #FF77A9; }
  .theme-secondary .card-teal {
    background-color: #00cae3; }
    .theme-secondary .card-teal .mdl-card {
      background: #00cae3 !important; }
    .theme-secondary .card-teal .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-secondary .card-teal .mdl-button {
      color: #000000;
      background-color: #1ce5ff;
      font-weight: 500; }
    .theme-secondary .card-teal .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-secondary .card-teal .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-secondary .card-teal .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-secondary .card-teal .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-secondary .card-teal .mdl-button:hover {
      background-color: #006f7d;
      color: #000000; }
  .theme-secondary .card-pink {
    background-color: #FF77A9; }
    .theme-secondary .card-pink .mdl-card {
      background: #FF77A9 !important; }
    .theme-secondary .card-pink .mdl-card__menu .material-icons {
      color: #00cae3;
      font-size: 25px; }
    .theme-secondary .card-pink .mdl-button {
      color: #000000;
      background-color: #ffa0c3;
      font-weight: 500; }
    .theme-secondary .card-pink .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-secondary .card-pink .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-secondary .card-pink .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-secondary .card-pink .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-secondary .card-pink .mdl-button:hover {
      background-color: #ffddea;
      color: inherit; }
  .theme-secondary .card-purple {
    background-color: #5627ff; }
    .theme-secondary .card-purple .mdl-card {
      background: #5627ff !important; }
    .theme-secondary .card-purple .mdl-card__menu .material-icons {
      color: #FFFFFF;
      font-size: 25px; }
    .theme-secondary .card-purple .mdl-button {
      color: #FFFFFF;
      background-color: #7650ff;
      font-weight: 500; }
    .theme-secondary .card-purple .mdl-card__title-text {
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-secondary .card-purple .mdl-card__subtitle p {
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 900; }
    .theme-secondary .card-purple .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #FFFFFF; }
    .theme-secondary .card-purple .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-secondary .card-purple .mdl-button:hover {
      background-color: #a68dff;
      color: inherit; }
  .theme-secondary .card-buttercream {
    background-color: #FFEDBA; }
    .theme-secondary .card-buttercream .mdl-card {
      background: #FFEDBA !important; }
    .theme-secondary .card-buttercream .mdl-card__menu .material-icons {
      color: #000000;
      font-size: 25px; }
    .theme-secondary .card-buttercream .mdl-button {
      color: #000000;
      background-color: #ffa0c3;
      font-weight: 500; }
    .theme-secondary .card-buttercream .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-secondary .card-buttercream .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-secondary .card-buttercream .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-secondary .card-buttercream .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-secondary .card-buttercream .mdl-button:hover {
      background-color: #fff8e3;
      color: inherit; }
  .theme-secondary .card-black {
    background-color: #212121; }
    .theme-secondary .card-black .mdl-card {
      background: #000000 !important; }
    .theme-secondary .card-black .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-secondary .card-black .mdl-button {
      color: #FFFFFF;
      background-color: #000000;
      font-weight: 500; }
    .theme-secondary .card-black .mdl-card__title-text {
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-secondary .card-black .mdl-card__subtitle p {
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 900; }
    .theme-secondary .card-black .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #FFFFFF; }
    .theme-secondary .card-black .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-secondary .card-black .mdl-button:hover {
      background-color: #2b2b2b;
      color: #FF77A9; }
  .theme-secondary .card-blue {
    background-color: #38a9ff; }
    .theme-secondary .card-blue .mdl-card {
      background: #0091FF !important; }
    .theme-secondary .card-blue .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-secondary .card-blue .mdl-button {
      color: #000000;
      background-color: #80c8ff;
      font-weight: 500; }
    .theme-secondary .card-blue .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-secondary .card-blue .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-secondary .card-blue .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-secondary .card-blue .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-secondary .card-blue .mdl-button:hover {
      background-color: #cce9ff;
      color: #000000; }

.theme-tertiary {
  /* Card Theme Styles
  ------------------------------ */ }
  .theme-tertiary h2 {
    font-weight: 100; }
  .theme-tertiary .mdl-layout__header {
    background-color: #3F51B5;
    color: #FFFFFF; }
  .theme-tertiary .mdl-layout__drawer-button {
    color: #FFFFFF; }
  .theme-tertiary .mdl-layout__drawer {
    background-color: #FFEDBA;
    color: #3F51B5;
    border-right: 5px solid #3F51B5; }
    .theme-tertiary .mdl-layout__drawer .mdl-layout-title {
      margin: 30px auto;
      background: url("../img/logo-quad.svg") no-repeat;
      width: 50%;
      height: 100px; }
  .theme-tertiary .mdl-layout__title {
    margin-top: 30px;
    background: url("../img/logo-tertiary.svg") no-repeat;
    color: #FFFFFF;
    width: 50%;
    height: 100px; }
  .theme-tertiary .mdl-layout__subtitle {
    text-align: right;
    color: #FFEDBA; }
  .theme-tertiary .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #3F51B5;
    font-size: 1rem; }
  .theme-tertiary .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #3F51B5;
    color: #FF77A9; }
  .theme-tertiary .card-teal {
    background-color: #00cae3; }
    .theme-tertiary .card-teal .mdl-card {
      background: #00cae3 !important; }
    .theme-tertiary .card-teal .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-tertiary .card-teal .mdl-button {
      color: #000000;
      background-color: #1ce5ff;
      font-weight: 500; }
    .theme-tertiary .card-teal .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-tertiary .card-teal .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-tertiary .card-teal .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-tertiary .card-teal .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-tertiary .card-teal .mdl-button:hover {
      background-color: #006f7d;
      color: #000000; }
  .theme-tertiary .card-pink {
    background-color: #FF77A9; }
    .theme-tertiary .card-pink .mdl-card {
      background: #FF77A9 !important; }
    .theme-tertiary .card-pink .mdl-card__menu .material-icons {
      color: #00cae3;
      font-size: 25px; }
    .theme-tertiary .card-pink .mdl-button {
      color: #000000;
      background-color: #ffa0c3;
      font-weight: 500; }
    .theme-tertiary .card-pink .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-tertiary .card-pink .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-tertiary .card-pink .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-tertiary .card-pink .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-tertiary .card-pink .mdl-button:hover {
      background-color: #ffddea;
      color: inherit; }
  .theme-tertiary .card-purple {
    background-color: #5627ff; }
    .theme-tertiary .card-purple .mdl-card {
      background: #5627ff !important; }
    .theme-tertiary .card-purple .mdl-card__menu .material-icons {
      color: #FFFFFF;
      font-size: 25px; }
    .theme-tertiary .card-purple .mdl-button {
      color: #FFFFFF;
      background-color: #7650ff;
      font-weight: 500; }
    .theme-tertiary .card-purple .mdl-card__title-text {
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-tertiary .card-purple .mdl-card__subtitle p {
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 900; }
    .theme-tertiary .card-purple .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #FFFFFF; }
    .theme-tertiary .card-purple .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-tertiary .card-purple .mdl-button:hover {
      background-color: #a68dff;
      color: inherit; }
  .theme-tertiary .card-buttercream {
    background-color: #FFEDBA; }
    .theme-tertiary .card-buttercream .mdl-card {
      background: #FFEDBA !important; }
    .theme-tertiary .card-buttercream .mdl-card__menu .material-icons {
      color: #000000;
      font-size: 25px; }
    .theme-tertiary .card-buttercream .mdl-button {
      color: #000000;
      background-color: #ffa0c3;
      font-weight: 500; }
    .theme-tertiary .card-buttercream .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-tertiary .card-buttercream .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-tertiary .card-buttercream .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-tertiary .card-buttercream .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-tertiary .card-buttercream .mdl-button:hover {
      background-color: #fff8e3;
      color: inherit; }
  .theme-tertiary .card-black {
    background-color: #212121; }
    .theme-tertiary .card-black .mdl-card {
      background: #000000 !important; }
    .theme-tertiary .card-black .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-tertiary .card-black .mdl-button {
      color: #FFFFFF;
      background-color: #000000;
      font-weight: 500; }
    .theme-tertiary .card-black .mdl-card__title-text {
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-tertiary .card-black .mdl-card__subtitle p {
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 900; }
    .theme-tertiary .card-black .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #FFFFFF; }
    .theme-tertiary .card-black .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-tertiary .card-black .mdl-button:hover {
      background-color: #2b2b2b;
      color: #FF77A9; }
  .theme-tertiary .card-blue {
    background-color: #38a9ff; }
    .theme-tertiary .card-blue .mdl-card {
      background: #0091FF !important; }
    .theme-tertiary .card-blue .mdl-card__menu .material-icons {
      color: #FF77A9;
      font-size: 25px; }
    .theme-tertiary .card-blue .mdl-button {
      color: #000000;
      background-color: #80c8ff;
      font-weight: 500; }
    .theme-tertiary .card-blue .mdl-card__title-text {
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      margin: 0; }
    .theme-tertiary .card-blue .mdl-card__subtitle p {
      color: #000000;
      font-size: 14px;
      font-weight: 900; }
    .theme-tertiary .card-blue .mdl-card__supporting-text {
      font-size: 14px;
      font-weight: 300;
      color: #000000; }
    .theme-tertiary .card-blue .mdl-card__image {
      background: url("../img/welcome_card.jpg") center/cover; }
    .theme-tertiary .card-blue .mdl-button:hover {
      background-color: #cce9ff;
      color: #000000; }

/*# sourceMappingURL=main.css.map */
