html, body {
  font-family: 'Roboto', 'Open Sans', 'Darker Grotesque', sans-serif;
  font-size: 14px;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  background: #e6e6e6; }

.main-title {
  color: #666666;
  margin: 0;
  padding: 0 140px;
  text-align: center; }
  .main-title h1 {
    margin: 0 0 20px 0;
    font-size: 3rem; }

.navigation {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-end; }

.navigation a {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding: 1rem .5rem;
  text-decoration: none;
  color: #000000;
  font-size: 1.1rem;
  font-weight: 400;
  background: #FFFFFF; }
  .navigation a::after {
    border-top: 0.1rem solid orange;
    content: " ";
    position: absolute;
    right: 100%;
    bottom: .1rem;
    left: 0;
    transition: right 1s cubic-bezier(0, 0.5, 0, 1); }
  .navigation a:hover::after {
    right: 0; }
  .navigation a:hover {
    text-decoration: none; }

@media all and (max-width: 992px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
    justify-content: space-around; }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

  navigation li:last-of-type a {
    border-bottom: none; } }
* {
  box-sizing: border-box; }

.row {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: stretch;
  margin: 0 20px; }

.header {
  padding: 60px;
  text-align: center;
  background: deepskyblue;
  color: #FFFFFF; }

.navbar {
  display: flex;
  background: #4d4d4d;
  justify-content: center; }

.navbar a {
  width: 100%;
  color: #FFFFFF;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center; }

.navbar a:hover {
  background: gray;
  color: #000000; }

.sideBar {
  flex: 15%;
  background: #FFFFFF;
  padding: 20px;
  box-shadow: 0px 1px 8px 0px #8c8c8c;
  overflow: auto; }
  .sideBar .logo {
    margin: 0 0 20px 0;
    background: black;
    width: 100%;
    padding: 20px; }
    .sideBar .logo h1 {
      margin: 0 0 5px 0;
      padding: 0;
      font-size: 3rem;
      font-weight: 700;
      color: #FFFFFF;
      text-align: left; }
    .sideBar .logo h2 {
      margin: 0 0 5px 0;
      padding: 0;
      font-size: 1.8rem;
      font-weight: 400;
      color: #cccccc;
      text-align: left; }
    .sideBar .logo h3 {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      font-weight: 400;
      color: #cccccc;
      text-align: left; }

@media all and (max-width: 992px) {
  .sideBar .logo h1, .sideBar .logo h2, .sideBar .logo h3 {
    text-align: center; } }
.main {
  flex: 85%;
  padding: 20px;
  height: auto; }

.fake-img {
  margin: 0 0 20px 0;
  background: black;
  width: 100%;
  padding: 20px; }

.footer {
  padding: 20px;
  text-align: center;
  background: #404040; }

@media all and (max-width: 992px) {
  .row, .navbar {
    flex-direction: column; } }
.container-1 {
  height: 100%;
  display: box; }

.copyright {
  padding: 30px 0; }

* {
  box-sizing: border-box; }

@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%; } }
@media only screen and (orientation: portrait) {
  body {
    background-color: lightblue; } }
@media only screen and (min-width: 600px) {
  [class*="col-"] {
    width: 100%; } }
@media (min-width: 992px) {
  .col-tablet-1 {
    width: 8.33%; }

  .col-tablet-2 {
    width: 16.66%; }

  .col-tablet-3 {
    width: 25%; }

  .col-tablet-4 {
    width: 33.33%; }

  .col-tablet-5 {
    width: 41.66%; }

  .col-tablet-6 {
    width: 50%; }

  .col-tablet-7 {
    width: 58.33%; }

  .col-tablet-8 {
    width: 66.66%; }

  .col-tablet-9 {
    width: 75%; }

  .col-tablet-10 {
    width: 83.33%; }

  .col-tablet-11 {
    width: 91.66%; }

  .col-tablet-12 {
    width: 100%; } }
@media (min-width: 1200px) {
  .col-desktop-1 {
    width: 8.33%; }

  .col-desktop-2 {
    width: 16.66%; }

  .col-desktop-3 {
    width: 25%; }

  .col-desktop-4 {
    width: 33.33%; }

  .col-desktop-5 {
    width: 41.66%; }

  .col-desktop-6 {
    width: 50%; }

  .col-desktop-7 {
    width: 58.33%; }

  .col-desktop-8 {
    width: 66.66%; }

  .col-desktop-9 {
    width: 75%; }

  .col-desktop-10 {
    width: 83.33%; }

  .col-desktop-11 {
    width: 91.66%; }

  .col-desktop-12 {
    width: 100%; } }
[class*="col-"] {
  float: left;
  padding: 15px; }

.row:after {
  content: "";
  clear: both;
  display: table; }

/*
//All columns float left and have a padding of 15px which will create a 30px gutter for columns 2-11
$pad: 20px;

.grid {
  background: $white;
  margin: 0 0 $pad 0;

  &:after {
    /* Or extend clearfix
    content: "";
    display: table;
    clear: both;
  }
}

/*
[class*="col-"] {
  float: left;
  padding-right: $pad;
  .grid &:last-of-type {
    padding-right: 0;
  }
}

.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

//Clear the flow or the columns will just nest left out of the flow of the page
.row:after {
  content: "";
  clear: both;
  display: table;
}


@media all and (max-width: 992px) {
  [class*='col-'] {
    padding-right: 0;
  }
}
*/
.card {
  margin: 0;
  padding: 60px;
  min-height: 400px;
  position: relative; }
  .card h2 {
    margin: 0px 0 30px 0;
    font-size: 2.4rem;
    font-weight: 400; }
  .card h4 {
    margin: 0 50px 40px 0;
    font-size: 2rem;
    font-weight: 400; }
  .card p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700; }
  .card .card-icon {
    margin: 50px 0 0 0;
    float: right;
    color: #FFFFFF; }
  .card .active {
    -ms-transform: scale(2, 4);
    -webkit-transform: scale(2, 4);
    transform: scale(2, 4); }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

@media all and (max-width: 992px) {
  .main {
    padding: 0; }

  .card {
    padding: 20px;
    min-height: 250px; }
    .card h2, .card h4, .card p {
      margin: 30px 0 0 0;
      text-align: center; }
    .card .card-icon {
      float: none;
      margin: 40px 0 10px 0;
      text-align: center; }

  .row {
    margin: 0 5px; } }
.one {
  background: #90d2ec; }
  .one h2 {
    color: #FFFFFF; }
  .one h4 {
    color: #1f8dba; }
  .one p {
    color: #4f4f4f; }

.two {
  background: indianred; }
  .two h2 {
    color: #FFFFFF; }
  .two h4 {
    color: #822828; }
  .two p {
    color: #f2d49c; }

.three {
  background: mediumpurple; }
  .three p {
    color: darkslateblue; }

.four {
  background: #ffc966; }

.five {
  background: #4d4d4d; }

.six {
  background: deepskyblue; }

.transition {
  text-decoration: none;
  color: #000000; }

.flicker-out-1 {
  -webkit-animation: flicker-out-1 2s linear both;
  animation: flicker-out-1 2s linear both; }

@-webkit-keyframes flicker-out-1 {
  0% {
    opacity: 1; }
  13.9% {
    opacity: 1; }
  14% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  14.9% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  15% {
    opacity: 1; }
  22.9% {
    opacity: 1; }
  23% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  24.9% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  25% {
    opacity: 1; }
  34.9% {
    opacity: 1; }
  35% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  39.9% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  40% {
    opacity: 1; }
  42.9% {
    opacity: 1; }
  43% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  44.9% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  45% {
    opacity: 1; }
  50% {
    opacity: 1; }
  54.9% {
    opacity: 1; }
  55% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  69.4% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  69.5% {
    opacity: 1; }
  69.9% {
    opacity: 1; }
  70% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  79.4% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  79.9% {
    opacity: 1; }
  80% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  89.8% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  89.9% {
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none; }
  90% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  100% {
    opacity: 0; } }
@keyframes flicker-out-1 {
  0% {
    opacity: 1; }
  13.9% {
    opacity: 1; }
  14% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  14.9% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  15% {
    opacity: 1; }
  22.9% {
    opacity: 1; }
  23% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  24.9% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  25% {
    opacity: 1; }
  34.9% {
    opacity: 1; }
  35% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  39.9% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  40% {
    opacity: 1; }
  42.9% {
    opacity: 1; }
  43% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  44.9% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  45% {
    opacity: 1; }
  50% {
    opacity: 1; }
  54.9% {
    opacity: 1; }
  55% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  69.4% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  69.5% {
    opacity: 1; }
  69.9% {
    opacity: 1; }
  70% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  79.4% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  79.9% {
    opacity: 1; }
  80% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  89.8% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  89.9% {
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none; }
  90% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  100% {
    opacity: 0; } }
/* Text-focus-in
====================*/
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
/* Focus-in-contract-back
====================*/
.focus-in-contract-bck {
  -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }
/* Pop-up-top
====================*/
.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none; }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3); } }
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none; }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3); } }
/* Slide out back
====================*/
.slide-out-bck-center {
  -webkit-animation: slide-out-bck-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-bck-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0; } }
@keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0; } }
/* Slide in fwd
====================*/
.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }
/* Slide out forward
====================*/
.slide-out-fwd-center {
  -webkit-animation: slide-out-fwd-center 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-fwd-center 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0; } }
@keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0; } }

/*# sourceMappingURL=site.css.map */
