* {
  box-sizing: border-box;
}

//Mobile
@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
}

//Detecting Landscape VS Portait - turn the background color to lightblue
@media only screen and (orientation: portrait) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (min-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
}


//Tablets
@media(min-width: 992px) {
  .col-tablet-1 { width: 8.33%; }
  .col-tablet-2 { width: 16.66%; }
  .col-tablet-3 { width: 25%; }
  .col-tablet-4 { width: 33.33%; }
  .col-tablet-5 { width: 41.66%; }
  .col-tablet-6 { width: 50%; }
  .col-tablet-7 { width: 58.33%; }
  .col-tablet-8 { width: 66.66%; }
  .col-tablet-9 { width: 75%; }
  .col-tablet-10 { width: 83.33%; }
  .col-tablet-11 { width: 91.66%; }
  .col-tablet-12 { width: 100%; }
}


//Large
@media (min-width: 1200px) {
  .col-desktop-1 { width: 8.33%; }
  .col-desktop-2 { width: 16.66%; }
  .col-desktop-3 { width: 25%; }
  .col-desktop-4 { width: 33.33%; }
  .col-desktop-5 { width: 41.66%; }
  .col-desktop-6 { width: 50%; }
  .col-desktop-7 { width: 58.33%; }
  .col-desktop-8 { width: 66.66%; }
  .col-desktop-9 { width: 75%; }
  .col-desktop-10 { width: 83.33%; }
  .col-desktop-11 { width: 91.66%; }
  .col-desktop-12 { width: 100%; }
}


//All columns float left and have a padding of 15px which will create a 30px gutter for columns 2-11
[class*="col-"] {
  float: left;
  padding: 15px;
  background-color: #DDD;
  border-top: 1px solid #0066CC;
  border-right: 1px solid green;
}

//Clear the flow or the columns will just nest left out of the flow of the page
.row:after {
  content: "";
  clear: both;
  display: table;
}
