//Black + White
$white: #FFFFFF;
$black: #000000;

//Reds
$red: #FF0000;
$tomato: tomato;
$indianred: indianred;

//Oranges
$orange: orange;
$yellow: yellow;
$moccasin: moccasin;

//Browns
$wheat: wheat;
$burlywood: burlywood;
$chocolate: chocolate;

//Blues
$skyblue: skyblue;
$lightskyblue: lightskyblue;
$deepskyblue: deepskyblue;
$steelblue: steelblue;

//Purples
$darkslateblue: darkslateblue;
$mediumpurple: mediumpurple;

//Greens
$lightgreen: lightgreen;
