html, body {
  font-family: 'Roboto', 'Open Sans', 'Darker Grotesque', sans-serif;
  font-size: 14px;
  margin: 0;

  //Full height 2 column Layout
  height: 100%;
  box-sizing: border-box;
  background: lighten($black, 90%);
}


.navigation {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: column;
  //Flex-end means to to the end - in this case it is to the right
  justify-content: flex-end;
}

.navigation a {
  display: block;
  margin-bottom: 20px;
  padding: 1em;
  text-decoration: none;
  color: $black;
  font-size: 1.1rem;
  font-weight: 400;
  background: lighten($black, 90%);
}

.navigation a:hover {
  background: $deepskyblue;
}

//for small screens
//ON medium sized screens we are center it by distributing the empty space around items
@media all and (max-width: 992px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
    justify-content: space-around;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  navigation li:last-of-type a {
    border-bottom: none;
  }
}


//Example Responsive Website Layout - 2 column

* {
  box-sizing: border-box;
}

//Column Container
.row {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: stretch;
  margin: 0 20px;
}

.header {
  padding: 60px;
  text-align: center;
  background: $deepskyblue;
  color: $white;
}

.navbar {
  display: flex;
  background: lighten($black, 30%);
  justify-content: center;
}
.navbar a {
  width: 100%;
  color: $white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navbar a:hover {
  background: lighten($black, 50%);
  color: $black;
}



//Create two unequal columns that sit next to each other 'Sidebar / Main'
//sideBar
.sideBar {
  flex: 15%;
  background: $white;
  padding: 20px;
  box-shadow: 0px 1px 8px 0px lighten($black, 55%);
  flex-shrink: 0;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;

  //imgplaceholder
  .logo {
    margin: 0 0 20px 0;
    background: darken($deepskyblue, 50%);
    width: 100%;
    padding: 20px;

    h1 {
      margin: 0 0 5px 0;
      padding: 0;
      font-size: 3rem;
      font-weight: 700;
      color: $white;
      text-align: left;
    }
    h2 {
      margin: 0 0 5px 0;
      padding: 0;
      font-size: 1.8rem;
      font-weight: 400;
      color: darken($white, 20%);
      text-align: left;
    }
    h3 {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      font-weight: 400;
      color: darken($white, 20%);
      text-align: left;
    }
  }
}
@media all and (max-width: 992px) {
  .sideBar {
    .logo {
      h1, h2, h3 {
        text-align: center;
      }
    }
  }
}




//Main
.main {
  flex: 85%;
  padding: 20px;
  height: auto;
}


//imgplaceholder
.fake-img {
  margin: 0 0 20px 0;
  background: darken($deepskyblue, 50%);
  width: 100%;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: lighten($black, 25%);
}

//Responsive queries @ 992px
// WHen the screen is less than 992px wide, make the two columns stack
@media all and (max-width: 992px) {
  .row, .navbar {
    flex-direction: column; //Makes the columns stack
  }
}

////Full height 2 column layout with header
.container-1 {
  height: 100%;
  display: box;
}

.nav-1 {
  background: $tomato;
  box-flex: 0;
}

.main-1 {
  background: $deepskyblue;
  box-flex: 1;
}



//Cards
.card {
  margin: 40px 0 10px 0;
  padding: 60px;
  min-height: 400px;

  h2 {
    margin: 0px 0 30px 0;
    font-size: 2.4rem;
    font-weight: 400;

  }
  h4 {
    margin: 0 50px 40px 0;
    font-size: 2rem;
    font-weight: 400;
  }
  p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
  }
}

@media all and (max-width: 992px) {
  .main {
    padding: 0;
  }
  .card {
    padding: 20px;
    min-height: 250px;
    h2, h4, p {
      margin: 30px 0 0 0;
      text-align: center;
    }
  }
  .row {
    margin: 0 5px;
  }

}

.one {
  background: lighten($skyblue, 2%);
  h2 {
    color: $white;
  }
  h4 {
    color: darken($skyblue, 30%);
  }
  p {
    color: lighten($black, 31%);
  }
}
.two {
  background: $indianred;
  h2 {
    color: $white;
  }
  h4 {
    color: darken($indianred, 25%);
  }
  p {
    color: darken($wheat, 5%);
  }
}
.three {
  background: $mediumpurple;
  p {
    color: $darkslateblue;
  }
}
.four {
  background: lighten($orange, 20%);
}
.five {
  background: lighten($black, 30%);
}
.six {
  background: $deepskyblue;
}
