@media screen and (min-width: 993px) {
  nav a.sidenav-trigger {
    display: inherit !important;
  }
}

@media screen and (max-width: 992px) {

  nav .hamburger--elastic .hamburger-inner {
    top: 18px !important;
    right: 34px !important;
  }

}

nav .sidenav-trigger {
  height: 66px !important;
  margin: 0 !important;
  background-color: red1;
  padding: 0px 40px;
}

.hamburger--elastic .hamburger-inner {
  top: 22px !important;
  right: 34px !important;
}

nav .brand-logo {
  padding-left: 25px !important;
}
