/* Color Palette
------------------------------ */
$buttercream: #FFEDBA;
$blue: #0091FF;
$blue-purple: #3F51B5;
$purple: darken(#6236FF, 3%);
$teal: lighten(#00BCD4, 3%);

$pink: #FF77A9;
$red: #A61C1C;

$white: #FFFFFF;
$black: #000000;

$primary: $black;
$text-on-primary: $pink;

$secondary: lighten($black, 75%);
$text-on-secondary: $black;

$surface: $white;
$text-on-surface: $black;

$error: $red;
$text-on-error: $white;

.text-on-primary {
  color: $text-on-primary;
}
.primary-group {
  background-color: $primary !important;
  color: $text-on-primary !important;
}
.text-on-secondary {
  color: $text-on-secondary;
}
.secondary-group {
  background-color: $secondary !important;
  color: $text-on-secondary !important;
}
.text-on-surface {
  color: $text-on-surface;
}
.surface-group {
  background-color: $surface;
  color: $text-on-surface;
}



/* =Header
------------------------------ */
.mdl-layout__header {
  box-shadow: none;
}
.mdl-button--theme:hover {
  background-color: lighten($primary, 4%);
}


/* Theme-Styles
------------------------------ */
.theme-primary {

  main {
    background: lighten($black, 88%);
  }

  h2 {
    font-weight: 100;
  }

  .mdl-grid {
    background-color: none;
  }
  .mdl-layout__header {
  background-color: $primary;
  color: $text-on-primary;
  }
  .mdl-layout__drawer-button {
    color: $text-on-primary;
  }
  .mdl-layout__drawer {
    background-color: lighten($text-on-primary, 8%);
    color: lighten($primary, 20%);
    border-right: 5px solid $primary;
    font-weight: 100;

    .mdl-layout-title {
      margin: 30px auto;
      background: url("../img/logo-secondary.svg") no-repeat;
      width: 50%;
      height: 100px;
    }
  }
  .mdl-layout__title {
    margin-top: 30px;
    background: url("../img/round-logo-7.svg") no-repeat;
    color: $text-on-primary;
    width: 50%;
    height: 100px;
  }
  .mdl-layout__title .lastname {
    color: $white;
  }
  .mdl-layout__subtitle {
    text-align: right;
  }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: $primary;
    font-size: 1rem;
  }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: $primary;
    color: $white;
  }
  .mdl-mini-footer {
    background-color: $pink;
  }
  .mdl-mini-footer {
    display: inline;
    padding: 0;
    color: lighten($black, 65%);

    .mdl-grid {
      padding: 0;
    }
  }
  .mdl-logo {
    background: url("../img/footer-1.svg") no-repeat center;
    margin: 0;
    height: 25px;
    line-height: 25px;
    color: $pink;
  }
  .mdl-mini-footer__link-list li {
    color: $pink;
  }


  /* Card Theme Styles
  ------------------------------ */
  @import "card_theme.scss";
}

.theme-secondary {

  h2 {
    font-weight: 100;
    margin-top: 10px;
  }
  .mdl-layout__header {
  background-color: $text-on-primary;
  color: $primary;
  }
  .mdl-layout__drawer-button {
    color: $primary;
  }
  .mdl-layout__drawer {
    background-color: $primary;
    color: $text-on-primary;
    border-right: 5px solid $text-on-primary;

    .mdl-layout-title {
      margin: 30px auto;
      background: url("../img/logo-primary.svg") no-repeat;
      width: 100%;
      height: 50px;
    }
  }
  .mdl-layout__title {
    background: url("../img/round-logo-7.svg") no-repeat;
    color: $primary;
    height: 80px;
  }
  .mdl-layout__subtitle {
    text-align: right;
  }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: $text-on-primary;
    font-size: 1rem;
  }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: $text-on-primary;
    color: $primary;
  }
  .mdl-mini-footer {
    background-color: $primary;
  }
  .mini-footer__left-section {
    background-color: $pink;
  }
  .mdl-mini-footer {
    display: inline;
    padding: 0;
    color: lighten($black, 65%);

    .mdl-grid {
      padding: 0;
    }
  }
  .mdl-logo {
    background: url("../img/footer-1.svg") no-repeat center;
    margin: 0;
    height: 25px;
    line-height: 25px;
    color: $pink;
  }
  .mdl-mini-footer__link-list li {
    color: $pink;
  }
  /* Card Theme Styles
  ------------------------------ */
  @import "card_theme.scss";
}

.theme-tertiary {

  h2 {
    font-weight: 100;
  }
  .mdl-layout__header {
  background-color: $blue-purple;
  color: $white;
  }
  .mdl-layout__drawer-button {
    color: $white;
  }
  .mdl-layout__drawer {
    background-color: $buttercream;
    color: $blue-purple;
    border-right: 5px solid $blue-purple;

    .mdl-layout-title {
      margin: 30px auto;
      background: url("../img/logo-quad.svg") no-repeat;
      width: 50%;
      height: 100px;
    }
  }
  .mdl-layout__title {
    margin-top: 30px;
    background: url("../img/logo-tertiary.svg") no-repeat;
    color: $white;
    width: 50%;
    height: 100px;
  }
  .mdl-layout__subtitle {
    text-align: right;
    color: $buttercream;
  }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: $blue-purple;
    font-size: 1rem;
  }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: $blue-purple;
    color: $pink;
  }
  /* Card Theme Styles
  ------------------------------ */
  @import "card_theme.scss";
}
