/* Color Palette
------------------------------ */
$buttercream: #FFEDBA;
$blue-purple: #3F51B5;
$white: #FFFFFF;
$black: #000000;
$pink: #FF77A9;
$red: #A61C1C;


$primary: $black;
$text-on-primary: $pink;

$secondary: lighten($black, 75%);
$text-on-secondary: $black;

$surface: $white;
$text-on-surface: $black;

$error: $red;
$text-on-error: $white;

.text-on-primary {
  color: $text-on-primary;
}
.primary-group {
  background-color: $primary !important;
  color: $text-on-primary !important;
}
.text-on-secondary {
  color: $text-on-secondary;
}
.secondary-group {
  background-color: $secondary !important;
  color: $text-on-secondary !important;
}
.text-on-surface {
  color: $text-on-surface;
}
.surface-group {
  background-color: $surface;
  color: $text-on-surface;
}



/* Header Styles
------------------------------ */
.header-primary {

  .mdl-layout__header {
  background-color: $primary;
  color: $text-on-primary;
  }
  .mdl-layout__drawer-button {
    color: $text-on-primary;
  }
  .mdl-layout__drawer {
    background-color: $text-on-primary;
    color: $primary;
    border-right: 5px solid $primary;
  }
  .mdl-layout__title {
    color: $text-on-primary;
  }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: $primary;
    font-size: 1rem;
  }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: $primary;
    color: $text-on-primary;
  }
}

.header-secondary {

  .mdl-layout__header {
  background-color: $text-on-primary;
  color: $primary;
  }
  .mdl-layout__drawer-button {
    color: $primary;
  }
  .mdl-layout__drawer {
    background-color: $primary;
    color: $text-on-primary;
    border-right: 5px solid $text-on-primary;
  }
  .mdl-layout__title {
    color: $primary;
  }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: $text-on-primary;
    font-size: 1rem;
  }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: $text-on-primary;
    color: $primary;
  }

}

.header-tertiary {

  .mdl-layout__header {
  background-color: $blue-purple;
  color: $buttercream;
  }
  .mdl-layout__drawer-button {
    color: $buttercream;
  }
  .mdl-layout__drawer {
    background-color: $buttercream;
    color: $primary;
    border-right: 5px solid $primary;
  }
  .mdl-layout__title {
    color: $buttercream;
  }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: $primary;
    font-size: 1rem;
  }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: $blue-purple;
    color: $buttercream;
  }

}


/* =Header
------------------------------ */
.mdl-layout__header {
  box-shadow: none;
}
.mdl-button--theme:hover {
  background-color: lighten($primary, 4%);
}


/* =Grid
------------------------------ */
.mdl-cell {
  background-color: $surface;
  color: $primary;
}
